
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckInSuccess</title>
</head>
<body>
    <div> 
        <h1>Check In with @TempData["ID"] Boarding Pass is Successfull !</h1>
    </div>
</body>
</html>
