
@{
    ViewBag.Title = "Successfull Checked In";
}
@Html.Partial("_LoginPartial")
<br>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckInSuccess</title>
</head>
<body>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <h1>Check In with @TempData["ID"] Boarding Pass is Successfull !</h1>
    </div>
</body>
</html>
