
@{
    ViewBag.Title = "Validating";
}
@Html.Partial("_LoginPartial")
<br>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ValidateCheck</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
