@{
    ViewBag.Title = "About";
}
@Html.Partial("_LoginPartial")

<h2 style="margin-top:2rem; margin-bottom:2rem;">RDAR🛩️</h2>

<p>RDAR🛩️ was founded recently. It was named after it's founders. </p>
<p>
    RDAR🛩️ tries to provide best services to it's customers and thrives to make their journey memorable. We provide varieties of services
    like economy class, business class and premium business class. We Provide different cuisines while you are onboard.
</p>

<p>We are currently operating in 30+ Countries. We have a team of 100000+ people.<p>

<p><b> Dream High | Fly High | Live High </b></p>
<p>✈️✈️✈</p>