@{
    ViewBag.Title = "Continue";
}

<h2>Continue</h2>

<p>Thank you @ViewBag.Nm for booking your flight with us at RDAR booking. We will be contacting you regarding your flight details on @ViewBag.pn respectively.</p>
<br />
<p> Your Boarding id is : @ViewBag.bid </p>
<p>note: your boarding pass has been sent to your registered email for future reference, please exhibit the same at the time of check in</p>
